{% extends "!layout.html" %}
{% block extrahead %}
    {{ super() }}
<meta property="og:title" content="HfcQGIS - Help funzioni calcolatore di campi di QGIS" />
<meta property="og:description" content="Questa guida nasce per rispondere alle numerose richieste di aiuto sull’uso del calcolatore di campi e per colmare un vuoto sulla guida online di QGIS con esempi e molti screenshot." />
<meta property="og:url" content="http://hfcqgis.opendatasicilia.it/" />
<meta property="article:author" content="Salvatore Fiandaca" />
<meta property="og:image" content="https://raw.githubusercontent.com/gbvitrano/HfcQGIS/master/img/hfc_social.png" />
<meta property="og:site_name" content="hfcqgis.opendatasicilia.it" />

<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:title" content="HfcQGIS - Help funzioni calcolatore di campi di QGIS">
<meta name="twitter:description" content="Questa guida nasce per rispondere alle numerose richieste di aiuto sull’uso del calcolatore di campi e per colmare un vuoto sulla guida online di QGIS con esempi e molti screenshot.">
<meta name="twitter:image" content="https://raw.githubusercontent.com/gbvitrano/HfcQGIS/master/img/hfc_social.png">
<meta name="twitter:creator" content="Salvatore Fiandaca">
<meta name="twitter:site" content="hfcqgis.opendatasicilia.it" />
<meta name="twitter:url" content="http://hfcqgis.opendatasicilia.it/">
<!-- css back top -->
<link href=" http://hfcqgis.opendatasicilia.it/it/latest/_static/jquerysctipttop.css" rel="stylesheet" type="text/css" />
<link href=" http://hfcqgis.opendatasicilia.it/it/latest/_static/backTop.css" rel="stylesheet" type="text/css" />
<!-- Script -->
<script type="text/javascript" src=" http://hfcqgis.opendatasicilia.it/it/latest/_static/jquery.min.js"></script> 




 {% endblock %}


{% block footer %}
      {{ super() }}
	   <!-- script Back To Top  -->
      <div class="footerc">
          <a id='backTop'>Back To Top</a>
 <!-- script toptoback automatico mobile/desktop -->  
 <script type="text/javascript" src=" http://hfcqgis.opendatasicilia.it/it/latest/_static/jquery.backTop.min.js"></script>
<script>
            $(document).ready( function() {
                $('#backTop').backTop({
                    'position' : 400,
                    'speed' : 300,
                    'color' : 'red',
					
					                });
            });
        </script>
      </div>
	  
	  <script>
			$(document).ready(function(){
				$('.csbuttons').cSButtons({total : "","url" : "http://hfcqgis.opendatasicilia.it/it/latest/",});
			});
		</script>
		
		<!-- social  -->
		<div class="wy-side-scroll">
<div class="wy-menu wy-menu-vertical">
 <div id="social">
<table width="220" border="0" cellspacing="0" cellpadding="0">
        <tbody>
          <tr align="center" valign="middle">
            <td><a href="#" title="Condividi su Facebook" class="csbuttons" data-type="facebook" data-count="true"><img src="http://hfcqgis.opendatasicilia.it/it/latest/_static/fb.png" alt="facebook" class="clip_socialr" width="32" height="32">&nbsp;&nbsp;</a></td>
            <td><a href="#" title="Condividi su Twitter" class="csbuttons" data-type="twitter" data-txt="Free jQuery Plugins" data-via="AcrowFR" data-count="true"><img src="http://hfcqgis.opendatasicilia.it/it/latest/_static/tw.png" class="clip_socialr" alt="twitter" width="32" height="32">&nbsp;&nbsp;</a></td>
            <td><a href="#"title="Condividi su GooglePlus"  class="csbuttons" data-type="google" data-lang="en" data-count="true"><img src="http://hfcqgis.opendatasicilia.it/it/latest/_static/gp.png" alt="google" class="clip_socialr" width="32" height="32">&nbsp;&nbsp;</a></td>
            <td> <a href="#" title="Condividi su Linkedin" class="csbuttons" data-type="linkedin" data-count="true"><img src="http://hfcqgis.opendatasicilia.it/it/latest/_static/in.png" alt="linkedin" class="clip_socialr" width="32" height="32">&nbsp;&nbsp;</a></td>
            <td> <a href="#" title="Condividi su Pinterest" class="csbuttons" data-type="pinterest" data-txt="Free jQuery Plugins" data-media="http://www.jqueryscript.net/images/logo.png" data-count="true"><img src="http://hfcqgis.opendatasicilia.it/it/latest/_static/pin.png" alt="pinterest" class="clip_socialr" width="32" height="32">&nbsp;&nbsp;</a></td>
          </tr>
        </tbody>
      </table>
          </div>         
</div>
</div>
 <!-- script social -->
		<script type="text/javascript" src=" http://hfcqgis.opendatasicilia.it/it/latest/_static/jquery_csbuttons.js"></script> 
	  
{% endblock %}

