/* override css */

/* @http://hfcqgis.opendatasicilia.it*/


span.pre {
 overflow-x: auto;  
}

code {
white-space: normal !important;
border: 0px !important;
background-color: rgba(27,31,35,0.05) !important;
}

@media only screen and (min-width: 640px) {

   .wy-table-responsive table td {
      /* !important prevents the common CSS stylesheets from overriding
         this as on RTD they are loaded after this stylesheet */
      white-space: normal !important;
   }

   .wy-table-responsive {
      overflow: visible !important;
   }
/* Testo paragrafo giustificto
p {text-align: justify;}*/


/* adatta il nav-content a fullhd */
.wy-nav-content {max-width: 1920px;}

/* background menu sx*/
/*.wy-side-nav-search {background: linear-gradient(#67b03a, #589632); } */
.wy-side-nav-search {background:  #ffffff;}

.wy-side-nav-search input[type="text"] {border-color: #589632; } 

.wy-nav-top a:visited {
    color: #fff !important;
    font-weight: bold !important;
}

.wy-side-scroll {background: #ffffff;} 

.wy-menu-vertical a {color: #404040;}
.wy-menu-vertical a:hover { background-color: rgba(241,141,54,0.8)}
.wy-menu a:hover {color: #fff;}
.wy-menu a:visited {color: #fff;}
.wy-menu-vertical a:visited {color: #404040;}

.wy-menu-vertical li.on a, .wy-menu-vertical li.current > a {background: #c1e045;}
.wy-menu-vertical li.toctree-l1.current > a {
    border-bottom: solid 0 #fff;
    border-top: solid 0 #fff; }
.wy-menu-vertical li.on a:hover, .wy-menu-vertical li.current > a:hover {background: rgba(193,224,69,0.8);}
/*.wy-menu-vertical li.current > a:hover {background: transparent;}*/
.wy-nav-content {background: #efefef; }
.wy-menu-vertical li.hover a {background-color: rgba(193,224,69,0.5);}
/*.wy-menu-vertical li.current a {background-color: rgba(193,224,69,0.3);}*/
.wy-menu-vertical li.toctree-l2.current>a { background: rgba(193,224,69,0.6); }
.wy-menu-vertical li.toctree-l2.hover>a { background: rgba(193,224,69,0.75); }

/* @http://hfcqgis.opendatasicilia.it*/

a {color: #f18d36; }
a:hover {color: #f18d36; text-decoration:underline; }
a:visited {color: #589632; text-decoration:none; }

/* Blocco pbubblicita */
.wy-body-for-nav .keep-us-sustainable {color: #404040; background-color: #404040; text-align: center !important;}

.wy-body-for-nav .keep-us-sustainable {
    background-color: #404040;
    text-align: center !important;

/* testo caption menu sx 
.wy-nav-side {color: #589632;}*/
.wy-nav-side {color: #497d29;}

/* disattiva testo latest  menu sx */
.wy-side-nav-search>div.version {    display: none;}

/* disattiva testo Home  menu sx */
.wy-side-nav-search > a, .wy-side-nav-search .wy-dropdown > a {
       font-size: 0;  color: #fff !important; font-weight: bold !important; ext-decoration:none;}
/* @http://hfcqgis.opendatasicilia.it*/	   

/* disattiva background logo latest  menu sx */
.wy-side-nav-search > a:hover, .wy-side-nav-search .wy-dropdown > a:hover {
    background: rgba(255,255,255,0); }
.wy-side-nav-search {margin-top: -20px;}
	
.wy-body-for-nav {background: #efefef; }


/* mobile logo */
.wy-nav-top {/*background: linear-gradient(#67b03a, #589632); background-position-x: center; */
background-image: url(https://raw.githubusercontent.com/gbvitrano/HfcQGIS/master/img/logo_mobile_01.png);
background-repeat: no-repeat;
background-position: center;
background-color: #67b03a;
 }

/* Nome sito in mobile sempre bianco */
.wy-nav-top a:visited,  .wy-nav-top a:hover {
    color: #fff !important;
    font-weight: bold !important;
	text-decoration:none;
	}


.wy-side-nav-search > a.icon img.logo, .wy-side-nav-search .wy-dropdown > a.icon img.logo
img.logo {    margin-top: -30px; }